{# templates/blog/first_page.html.twig #}
{% extends 'eti/blog/layout.html.twig' %}

{% block title %}Blog Index / Articles to read{% endblock %}

{% block content %}
    <p> Posts: </p>

    <ul>
POST DETAILS HERE
    </ul>
{% endblock %}